body{
    overflow-x: hidden;
    background-color: #d6e2a3;
}

.navbar{
    height: 100px;
    background-color: #6ea330;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
}

.support-bar{
    font-size: 8px;
    text-align: center;
    background-color: #d6e2a3;
    height: 50px;
    display: flex;
    justify-content: center;
}

.home-img{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    background-image: url("./images/lab.jpg");
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-size: 100% 600px;
    height: 600px;
    color: white;
    /* -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom; */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    opacity: 90%;
}

.topic-section{
    background-color: #6ea330;
    height: 550px;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: start;
}

.topic-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dna{
    color: black;
    background-color: white;
    width: 20%;
    height: 450px;
    font-size: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dna h2{
    font-size: 12px; 
}

.bacteria{
    color: black;
    background-color: white;
    width: 20%;
    height: 450px;
    margin-left: 10%;
    font-size: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bacteria h2{
    font-size: 12px; 
}

.cryogenics{
    color: black;
    background-color: white;
    width: 20%;
    height: 450px;
    margin-left: 10%;
    font-size: 12px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cryogenics h2{
    font-size: 12px; 
}

.dna-graphic{
    width: 80%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.bacteria-graphic{
    width: 80%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.ice-graphic{
    width: 80%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.extra-info{
    background-color: #d6e2a3;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.location-section{
    display: flex;
    flex-direction: row;
}

.arch{
    width: 50%;
}

.arch-image{
    width: 100%;
    height: 100%;
}

.location-info{
    text-align: center;
    width: 50%;
    background-color: #6ea330;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location-info h1{
    font-family: 'Rubik Mono One', sans-serif;
}

.booknow-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d6e2a3;
    text-align: center;
    align-items: center;
    height: 300px;
    padding: 1%;
    font-size: 20px;
}

.booknow-section button{
    margin-top: 1%;
    height: 20%;
    border: none;
    border-radius: 20px;
    background-color: #F0822B;
    color: white;
    font-size: 18px;
    width: 10%;
    font-family: 'Rubik Mono One', sans-serif;
    cursor: pointer;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style-type: none;
}

.socials li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: #6ea330;
}

.footer-info{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
    font-size: 20px;
    color: white;
    white-space: nowrap;
}

.booknow-button :hover{
    background-color: rgb(197, 98, 22);
}

.booking-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.booking{
    background-color: white;
    width: 60%;
    height: 1000px;
    border-radius: 60px;
    margin: 3%;
}

.booking-info{
    text-align: center;
}

.appointment-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}

.appointment-info input {
    margin-top: 5%;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
    height: 30px;
}

.appointment-info label{
    margin-top: 10%;
}

.book-button{
    margin-top: 8%;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #F0822B;
    color: white;
    font-size: 18px;
    width: 20%;
    font-family: 'Rubik Mono One', sans-serif;
    cursor: pointer;
}