.navbar{
    height: 100px;
    background-color: #40cfa6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
}

.support-bar{
    font-size: 8px;
    text-align: center;
    background-color: #e1f5ee;
    height: 50px;
    display: flex;
    justify-content: center;
}

.home-img{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    background-image: url("./images/lab.jpg");
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-size: 100% 800px;
    height: 800px;
    color: white;
}

/* .biolab{
    width: 100%;
    height: 100%;
} */